/* Styling for content on all pages */
html {
  height: 100%;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 8rem;
  min-height: 100%;
  background-color: #4b6793;
}

.container {
  padding-top: 10px;
}

h5 {
  text-align: center;
}

#banner {
  height: 200px;
}

footer {
  position: absolute;
  border-top: 4px solid rgb(168, 0, 0);
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #0b3c5d;
  color: white;
  font-size: 18px;
  text-align: center;
  padding-bottom: 1rem;
}

.footBreak {
  display: none;
}

.states-separation {
  display: none;
}

#oneStop {
  color: red;
}

#oneStop:hover {
  color: rgb(146, 54, 54);
}

    /* social icons */

.social-icons {
  padding: 10px;
  font-size: 25px;
  text-align: center;
  text-decoration: none;

}

.fab:hover {
  opacity: 0.7;
  color: #d9ad97;
}

.fa-linkedin, .fa-github, .fa-twitter, .fa-facebook, .fa-pinterest, .fa-500px {
  color: white;
}

/* Styling for content on index page */

.card-title-main {
  font-family: 'Alex Brush', cursive;
  font-size: 50px;
  font-weight: 600;
}

.btn-row {
  background-color: #233237;
  text-align: center;
  border-radius: 5px;
  padding: 15px;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 45px;
}

.north, .south, .central, .west {
  background-color: #0b3c5d;
  color: #fff;
  padding: 25px;
  border-radius: 100px;
  border: 3px solid red;
  margin-right: 45px;
}

.card-subtitle {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 35px;
  color: #000;
}

.card-item {
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

/* Stying for content on trivia pages */

.card-title {
  font-family: 'Alex Brush', cursive;
  font-size: 60px;
  font-weight: 500;
}

.card-text {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.start-button {
  background-color: #9B0B00;
  padding-right: 50px;
  padding-left: 50px;
  margin: 0 auto;
}

.start-button:hover {
  background-color: #193662;
}

.clock {
  font-size: 25px;
  font-weight: 600;
  background-color: #c4dbff;
  color: #000;
  margin: auto;
  width: 300px;
  border-radius: 100px / 75px;
}

.question-number {
  font-size: 18px;
  text-align: center;
  color: #fff;
  font-style: italic;
}

.question {
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  font-weight: 600;
  color: #fff;
  text-align: center;
}

.answer-block {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.answer {
  font-family: 'Roboto', sans-serif;
  height: 45px;
  width: 100%;
  color: black;
  background-color: white;
  border-radius: 6px;
  text-align: center;
  margin-bottom: 15px;
}

.answer:hover {
  background: #FFEC9D;
  color: #000;
}

.right-response, .wrong-response, .no-response {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  background-color: #FFEC9D;
  color: #000;
  height: 50px;
  margin: auto;
  width: 550px;
  padding-top: 5px;
  border-radius: 15px;
}

.img-ver {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 375px;
  width: 275px;
  border-radius: 50px;
}

.img-hor {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 275px;
  width: 375px;
  border-radius: 50px;
}

.scoreboard {
  color: #fff;
  font-size: 50px;
}

.scores {
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  color: black;
  background-color: white;
  border-radius: 6px;
  text-align: left;
  padding-left: 15px;
  font-size: 22px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
}

  /* Retry This Quiz button - red*/
.reset-button {
  background-color: #9B0B00;
  padding-right: 50px;
  padding-left: 50px;
  margin: 0 auto;
}

.reset-button:hover {
  background-color: #193662;
}

/* Play Next Quiz button - white*/
.next-button {
  background-color: #fff;
  padding-right: 30px;
  padding-left: 30px;
  margin: 0 auto;
  color: #000;
}

.next-button:hover {
  background-color: #7faaeb;
}

/* No format for Return to Home button - using default - blue */



/* Media Queries */

/* On screens that are 600px or less, resize headline */
@media screen and (max-width: 600px) {

  .card-title-main {
    font-size: 30px;
    font-weight: 600;
  }

  .card-title {
    font-size: 30px;
  }

}

/* On screens that are 600px or less, activate line break */
@media screen and (max-width: 600px) {
  .footBreak {
    display: block;
  }
  .footBar {
    display: none;
  }
}

/* On screens that are 1025px or less, resize buttons */
@media screen and (max-width: 1025px) {
  .north, .south, .central, .west {
    width: 80%;
    font-size: 80%;
    padding: 5px;
  }
  .social-icons {
    font-size: 18px;
    padding-right: 5px;
  }
}

/* On screens that are 600px or less, resize time remaining */
@media screen and (max-width: 600px) {
  .clock {
    font-size: 20px;
    width: 275px;
  }
}

/* On screens that are 600px or less, resize response bar */
@media screen and (max-width: 600px) {
  .right-response, .wrong-response, .no-response {
    font-size: 16px;
    height: 60px;
    width: 250px;
    padding: 5px 5px 0 5px;
  }
}

/* On screens that are 600px or less, resize horizontal images */
@media screen and (max-width: 600px) {
  .img-hor {
    height: 175px;
    width: 275px;
  }
}

/* On screens that are 600px or less, increase bottom padding */
@media screen and (max-width: 600px) {
  body {
    padding-bottom: 12rem;
  }
}

/* Remove hover to avoid inadvertently highlighting selection */

@media (hover: none) {
  #oneStop:hover {
    visibility: hidden; 
  }
  .fab:hover {    
    visibility: hidden; 
  }
  .start-button:hover {    
    visibility: hidden; 
  }
  .answer:hover {    
    visibility: hidden; 
  }
  .reset-button:hover {    
    visibility: hidden;
   }
  .next-button:hover {   
    visibility: hidden;
   }
}
