/* Styling for content on all pages */

body {
  background-color: #4b6793;
}

.container {
  padding-top: 5px;
}

h5 {
  text-align: center;
}

#banner {
  height: 200px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 25px;
  background-color: #0b3c5d;
  color: white;
  text-align: center;
}

/* Styling for content on index page */

.card-title-main {
  font-family: 'Alex Brush', cursive;
  font-size: 50px;
  font-weight: 600;
}

.btn-row {
  background-color: #233237;
  text-align: center;
  border-radius: 5px;
  padding: 15px;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 45px;
}

.north {
  background-color: #0b3c5d;
  color: #fff;
  padding: 25px;
  border-radius: 100px;
  border: 3px solid red;
  margin-right: 45px;
}

.south {
  background-color: #0b3c5d;
  color: #fff;
  padding: 25px;
  border-radius: 100px;
  border: 3px solid red;
  margin-right: 45px;
}

.central {
  background-color: #0b3c5d;
  color: #fff;
  padding: 25px;
  border-radius: 100px;
  border: 3px solid red;
  margin-right: 45px;
}

.west {
  background-color: #0b3c5d;
  color: #fff;
  padding: 25px;
  border-radius: 100px;
  border: 3px solid red;
  margin-right: 45px;
}

.card-subtitle {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 35px;
  color: #000;
}

.card-item {
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

/* Stying for content on trivia pages */

.card-title {
  font-family: 'Alex Brush', cursive;
  font-size: 60px;
  font-weight: 500;
}

.card-text {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.start-button {
  background-color: #9B0B00;
  padding-right: 50px;
  padding-left: 50px;
  margin: 0 auto;
}

.start-button:hover {
  background-color: #193662;
}

.clock {
  font-size: 25px;
  font-weight: 600;
  background-color: #c4dbff;
  color: #000;
  margin: auto;
  width: 300px;
  border-radius: 100px / 75px;
}

.question-number {
  font-size: 18px;
  text-align: center;
  color: #fff;
  font-style: italic;
}

.question {
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  font-weight: 600;
  color: #fff;
  text-align: center;
}

.answer-block {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.answer {
  font-family: 'Roboto', sans-serif;
  height: 45px;
  width: 100%;
  color: black;
  background-color: white;
  border-radius: 6px;
  text-align: center;
  margin-bottom: 15px;
}

.answer:hover {
  background: #FFEC9D;
  color: #000;
}

.right-response {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  background-color: #FFEC9D;
  color: #000;
  height: 50px;
  margin: auto;
  width: 550px;
  padding-top: 5px;
  border-radius: 15px;
}

.wrong-response {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  background-color: #FFEC9D;
  color: #000;
  height: 50px;
  margin: auto;
  width: 600px;
  padding-top: 5px;
  border-radius: 15px;
}

.no-response {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  background-color: #FFEC9D;
  color: #000;
  height: 50px;
  margin: auto;
  width: 600px;
  padding-top: 5px;
  border-radius: 15px;
}

.img-capitol {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  width: 400px;
  border-radius: 50px;
}

.scoreboard {
  color: #fff;
  font-size: 50px;
}

.scores {
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  color: black;
  background-color: white;
  border-radius: 6px;
  text-align: left;
  padding-left: 15px;
  font-size: 22px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
}

  /* Retry This Quiz button - red*/
.reset-button {
  background-color: #9B0B00;
  padding-right: 50px;
  padding-left: 50px;
  margin: 0 auto;
}

.reset-button:hover {
  background-color: #193662;
}

/* Play Next Quiz button - white*/
.next-button {
  background-color: #fff;
  padding-right: 30px;
  padding-left: 30px;
  margin: 0 auto;
  color: #000;
}

.next-button:hover {
  background-color: #7faaeb;
}

/* No format for Return to Home button - using default - blue */
